params {
    // Input / Output Defaults
    genome       = 'data/ref/genome.fasta'
    reads        = 'data/reads/*_{1,2}.fastq.gz'
    outdir       = 'results'
    snpeff_db    = 'NC_045512.2'
}

process {
    // Default container settings
    containerOptions = '--user root'
    
    // Resource limits per task type
    withName: 'BWA_ALIGN' {
        cpus   = 4
        memory = '4.GB'
    }
    withName: 'HAPLOTYPE_CALLER' {
        cpus   = 2
        memory = '4.GB'
    }
}

profiles {
    docker {
        docker.enabled       = true
        docker.runOptions    = '-u $(id -u):$(id -g)'
        singularity.enabled  = false
    }
    
    local {
        process.executor = 'local'
    }
}